<!DOCTYPE HTML>

<html>
<head>
    <title>IOTlet</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    <link rel="stylesheet" type="text/css" href="../../css/main.css">
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    
</head>
    
<body id="back">
    
<nav class="navbar navbar-default">
    <div class="container-fluid"> 
       <div class="navbar-header">
         

        <a class="navbar-brand" href="/"> <strong> IOTlet </strong> </a>

       </div>


    </div>

      </nav>
    
    
    </body>
    
    <style>
    
        #back{
            
            background-image:url("../../assets/back1.jpg");
            background-size:cover;
            background-position:fixed;
            background-repeat:no-repeat;
            
        }
    
    </style>
</html>