<html>
<head>

  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
</head>
<body>
  <canvas id='canvas'></canvas>

    <script>
  var canvas=document.getElementById('canvas');
  var image= new Image();
  image.src="assets/transparentpefbottle_yxy1.jpg";

  var ctx=canvas.getContext('2d');
  ctx.drawImage(image,0,0);
//    var data=canvas.toDataURL("image/jpg");
//
//     $.post( "/",{data}, function( data,status ) {
//       console.log(data);
//       console.log(status);
//
// }
// );


    </script>
</body>
</html>
